# Ignore virtual environments
venv/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore environment variables
.env

# Ignore OS files
.DS_Store

# Ignore notebooks checkpoints
.ipynb_checkpoints/

frontend/node_modules/